:root {
  /* Primary */
  --red: hsl(0, 100%, 74%); 
  --green: hsl(154, 59%, 51%);
  --white: hsl(0, 100%, 100%);

  /* Accent */
  --blue: hsl(248, 32%, 49%);

  /* Neutral */
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --dark-blue-shadow: hsla(249, 10%, 26%, 0.459);
  --green-shadow: hsl(154, 39%, 51%);
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 90px 24px 74px;
  font-family: "Poppins", sans-serif;
  background: url("../images/bg-intro-mobile.png") var(--red);

  @media (min-width: 90rem) {
    background: url("../images/bg-intro-desktop.png") top var(--red) no-repeat;
  }
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  line-height: 1.5;
}

.title {
  font-size: 27px;
  line-height: 1.35;
  margin-block-end: 24px;
  color: var(--white);
  text-align: center;
}

.description {
  margin-block-end: 65px;
  text-align: center;
  color: var(--white);
}

.free-trial {
  padding: 20px;
  margin-block-end: 24px;
  color: var(--white);
  border-radius: 8px;
  box-shadow: 0 8px var(--dark-blue-shadow);
  background-color: var(--blue);
}

.free-trial .free-trial-text {
  text-align: center;
  font-weight: 300;
}

.free-trial-text span {
  font-weight: 600;
}

.form {
  padding: 24px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 8px var(--dark-blue-shadow);
}

.form fieldset {
  padding: 0;
  border: none;
}

.form-control {
  margin-block-end: 20px;
}

.form-input {
  width: 100%;
  margin-block-end: 8px;
  padding: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--dark-blue);
  border: 1px solid var(--grayish-blue);
  border-radius: 4px;
}

.form-input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.form-input.invalid {
  background: url("../images//icon-error.svg") 93% 50% no-repeat;
  border-color: var(--red);
}

.error-message {
  font-size: .8rem;
  font-weight: 500;
  font-style: italic;
  text-align: end;
  color: var(--red);
}

.form-input[type="submit"] {
  margin-block-end: 12px;
  color: var(--white);
  background-color: var(--green);
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 0 4px var(--green-shadow);
}

.terms-and-services {
  max-width: 240px;
  margin: 0 auto;
  font-size: 11px;
  text-align: center;
  line-height: 2;
  color: var(--grayish-blue);
}

.terms-and-services a {
  font-weight: 700;
  color: var(--red);
  text-decoration: none;
}

@media (min-width: 38.75rem) {
  .form-input.invalid {
    background-position: 96% 50%;
  }
}

@media (min-width: 64rem) {
  body {
    min-height: 800px;
    padding-top: 120px;
  }

  .free-trial-sec {
    display: flex;
    max-width: 1105px;
    margin-inline: auto;
  }

  .free-trial-form .free-trial {
    padding: 18px;
  }

  .free-trial-form .form {
    padding: 40px;
  }

  .form-control {
    margin-block-end: 22px;
  }

  .terms-and-services {
    max-width: fit-content;
  }

  .free-trial-info {
    max-width: 568px;
    align-content: center;
  }

  .free-trial-info .title,
  .free-trial-info .description {
    text-align: start;
  }

  .free-trial-info .title {
    font-size: 49px;
    line-height: 1.1;
    margin-block-start: 64px;
  }

  .free-trial-form {
    flex-grow: 1;
  }
}
